<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="./styles/main.css">
    <script src="src/app.js"></script>
</head>
<body>
{{>header}}
{{>title}}
<div id="news">
    <hr>
    <br>
    <p> Dice fight is a passion project with a design idea of the past mixed with the
        present. Memories of the old text adventure games, table-top DnD and 90's JRPG's are what inspires the idea of Dice Fight. These
        simplistic games left an element for the user to define, intended to be a slower pace, filling you with
        wonder. This allowed the minds imagination to enhance the experience. This is the goal of Dice fight.
    </p>
    <br>
    <p>Dice Fight was originally created to run in the command line. Using characters only from ASCI to create
        images and taking responses from the users input. Using dice as the primary deciding factors of succession
        or failure. Dice Fight is now ready to advance from the command line to the web. Using current technologies
        to bring Dice Fight to the Web.
    </p>
</div>
</body>
</html>