<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
    <link rel="stylesheet" href="./styles/main.css">
    <script src="src/app.js"></script>
</head>
<body>
{{>header}}
{{>title}}
<div id="news">
    <h6 class="date">April 26th 2020</h6>
    <hr>
    <br>
    <p> Hello Everyone! I am pleased to announce the Website is under way, Currently working on finishing the basic
        layout, then will work on better functionality. login function will be added at a later date. During the
        starting production, the game will run just on local browser storage. Plan is to eventually have it running
        off a server. After basic functionality of the site is completed will be working on implementing CANVAS
        displaying the
        game screen. Stay Tuned!
</div>

</body>
</html>