<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice Fight</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="src/app.js"></script>
</head>
<body>
{{>header}}
{{>title}}


<div id="news">
    <h6 class="date">April 27th 2020</h6>
    <hr><br>
    <h2 style="margin-left: 5px">Welcome to Dice Fight</h2>
    <p>We are currently under construction feel free to look around. The site is in its beginning stages and will constantly be changing, so come back frequently. </p>
    <br><br><br><br>
    <h6 class="date">April 26th 2020</h6>
    <hr><br>
    <h2 style="margin-left: 5px">Older News</h2>
    <p>-Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum ea eaque et,
        facere fuga in iure laborum nesciunt nisi nulla perferendis quas, quidem sapiente, sit soluta ut voluptates
        voluptatibus.</p>
</div>
</body>
</html>