* {
    margin: 0;
}
.container {
    background: #ffffff;
    width: 800px;
    height: 95vh;
    margin: 0 auto 0 auto;
    display: flex;
}

#sword {
    position: absolute;
}

#logo-text {
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
    margin-left: 70px;
    letter-spacing: 20px;
    font-family: Times New Roman, serif;
}

#nav-dice {
    position: absolute;
    display: flex;
    width: 400px;
    opacity: 100%;
    margin-left: 400px;
    margin-top: 1%;
}

.r-dice button:hover {
    cursor: pointer;
    background-image: url("./assets/logo/large dice/ld-blue-dot.svg");
}

.black-dot button:hover > .dot-text {
    font-size: 5em;
    color: #000000;
    margin-left: -80px;
    text-shadow: 30px -30px 10px #8d8d8d;
}

.r-dice button {
    position: absolute;
    border: none;
    width: 160px;
    height: 160px;
    background: url("./assets/logo/large dice/ld-black-dot.svg") center no-repeat; background-size: 90%;
    transform: scale(.4);
}
.dot-text {
    text-decoration: none;
    position: fixed;
    margin-top: 90px;
    margin-left: -30px;
    color: gray;
    font-family: Times New Roman, serif;
    font-size: 3em;
    font-weight: bolder;

    transform: skew(0, 20deg);
    transition: all 0.3s ease-in-out;
}

.d1 {
    position: absolute;
    margin-top: 90px;
    margin-left: 395px;
}

.d2 {
    position: absolute;
    margin-top: 130px;
    margin-left: 520px;
}

.d3 {
    position: absolute;
    margin-top: 265px;
    margin-left: 395px;
}

.d4 {
    position: absolute;
    margin-top: 310px;
    margin-left: 520px;
}


.highlight {
    position: absolute;
    background: gray;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    margin-top: 8px;
    margin-left: 8px;
}

#updates {
    position: absolute;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;;
    padding: 50px;
    margin-top: 250px;
    margin-left: 75px;
    text-align: center;

}

#news   {
    position: absolute;
    max-width: 650px;
    margin-top: 550px;
}