* {
    margin: 0;
}

.date {
    color: #249acf;
    font-size: 10px;
}

hr {
    border-top: 1px solid #249acf;
}
.container {
    background: #ffffff;
    width: 800px;
    height: 95vh;
    margin: 0 auto 0 auto;
    display: flex;
}

#diamond {
    position: absolute;
}

#logo-text {
    position: absolute;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 28px;
    margin-left: 70px;
    letter-spacing: 20px;
    font-family: Times New Roman, serif;
}

#nav-dice {
    position: absolute;
    display: flex;
    width: 400px;
    opacity: 100%;
    margin-left: 400px;
    margin-top: 1%;
}
#updates p{
    position: relative;
    letter-spacing: 3px;
    font-size: 10px;
    padding-top: 10px;
    border-top: 2px dotted #249acf;
}

#updates .title{
    position: absolute;
    border-top: 2px dotted #249acf;
    padding-top: 35px;
    max-width: 200px;
    margin-top: 250px;
    margin-left: 75px;
    text-align: center;
    font-size: 20px;

}
#news p{
    text-indent: 50px;
    font-size: 15px;
}

#news   {
    position: absolute;
    max-width: 650px;
    margin-top: 550px;
}


.side-dot button:hover {
    cursor: pointer;
    background-image: url("./assets/logo/large dice/ld-blue-dot.svg");
}

.side-dot button:hover > .dot-text {
    font-size: 5em;
    color: #000000;
    margin-left: -80px;
    text-shadow: 30px -30px 10px #8d8d8d;
}

.side-dot button {
    position: absolute;
    border: none;
    width: 160px;
    height: 160px;
    background: url("./assets/logo/large dice/ld-black-dot.svg") center no-repeat; background-size: 90%;
    transform: scale(.4);
}

.top-dot button {
    position: absolute;
    border: none;
    width: 160px;
    height: 160px;
    background: url("./assets/logo/large dice/top-dot-black.svg") center no-repeat; background-size: 90%;
    transform: scale(.4);
}

.top-dot button:hover {
    cursor: pointer;
    background-image: url("./assets/logo/large dice/top-dot-blue.svg");
}

.top-dot button:hover > .top-dot-text {
    font-size: 4em;
    color: #000000;
}

.top-dot-text {
    text-decoration: none;
    position: fixed;
    margin-top: -90px;
    margin-left: -80px;
    color: gray;
    font-family: Times New Roman, serif;
    font-size: 3em;
    font-weight: bolder;
    transform: skew(0deg, 0deg);
    transition: all 0.3s ease-in-out;
}

.dot-text {
    text-decoration: none;
    position: fixed;
    margin-top: 90px;
    margin-left: -30px;
    color: gray;
    font-family: Times New Roman, serif;
    font-size: 3em;
    font-weight: bolder;
    transform: skew(0, 20deg);
    transition: all 0.3s ease-in-out;
}

.d0 {
    position: absolute;
    margin-top: -30px;
    margin-left: 580px;
}

.d1 {
    position: absolute;
    margin-top: 90px;
    margin-left: 395px;
}

.d2 {
    position: absolute;
    margin-top: 130px;
    margin-left: 520px;
}

.d3 {
    position: absolute;
    margin-top: 265px;
    margin-left: 395px;
}

.d4 {
    position: absolute;
    margin-top: 310px;
    margin-left: 520px;
}


.title {
    color: #333;
    letter-spacing: 5px;
}

