<div class="container">

    <div class="logo">
        <p id="logo-text">DICE<br>FIGHT</p>
        <img id="diamond" src="./assets/logo2.svg" alt="">
    </div>

    <div class="r-dice">
        <img id="nav-dice" src="./assets/logo/large dice/ld-outline.svg" alt="">
            <div class="side-dot">
                <button onclick="location= './play'" class="d1 "><span class="dot-text">Play</span></button>
                <button onclick="location= './loading'" class="d2"><span class="dot-text">Wiki</span></button>
                <button onclick="location= './blog'" class="d3"><span class="dot-text">Blog</span></button>
                <button onclick="location= './about'" class="d4"><span class="dot-text">About</span></button>
            </div>
            <div class="top-dot">
                <button onclick="location='./'" class="d0"><span class="top-dot-text">Log-In</span></button>
            </div>
        </div>
    </div>
